.leaflet-container {
	width: 100vw;
	height: 96.2vh;
}
.leaflet-control-zoom {
	left: 97vw;
	top: 2vh;
	line-height: 17;
}

.leaflet-touch .leaflet-bar a {
	width: 35px;
	height: 45px;
	background-color: rgb(255, 255, 255, 0.7);
	border: 3px solid rgba(39, 39, 39, 0.3);
}
span:hover {
	color: rgb(29, 182, 253);
	transition: 0.3s;
}
